<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Main">
    <setting label="Default TTS Engine" type="action" id="backend" action="RunScript(service.xbmc.tts,backend_dialog)"/>

    <!-- Flite -->
    <setting visible="eq(-1,Flite)" id="voice.Flite" subsetting="true" label="Voice" type="action" action="RunScript(service.xbmc.tts,voice_dialog.Flite)" />
    <setting visible="eq(-2,Flite)" id="output_via_flite.Flite" label="Play Speech Directly Via Flite" type="bool" subsetting="true" default="false" />

    <!-- eSpeak -->
    <setting visible="eq(-3,eSpeak-ctypes)" id="voice.eSpeak-ctypes" subsetting="true" label="Voice" type="action" action="RunScript(service.xbmc.tts,voice_dialog.eSpeak-ctypes)" />

    <setting visible="eq(-4,eSpeak)" id="voice.eSpeak" subsetting="true" label="Voice" type="action" action="RunScript(service.xbmc.tts,voice_dialog.eSpeak)" />
    <setting visible="eq(-5,eSpeak)" id="speed.eSpeak" label="Speed (WPM)" type="slider" subsetting="true" option="int" default="175" range="80,450" />
    <setting visible="eq(-6,eSpeak)" id="output_via_espeak.eSpeak" label="Play Speech Directly Via eSpeak" type="bool" subsetting="true" default="false" />
    <setting visible="eq(-7,eSpeak)" id="player.eSpeak" subsetting="true" label="Player" type="action" action="RunScript(service.xbmc.tts,player_dialog.eSpeak)" enable="eq(-1,false)" />

    <!-- SAPI -->
    <setting visible="eq(-8,SAPI)" id="voice.SAPI" subsetting="true" label="Voice" type="action" action="RunScript(service.xbmc.tts,voice_dialog.SAPI)" />

    <!-- pico2wave -->
    <setting visible="eq(-9,pico2wave)"  id="language.pico2wave" subsetting="true" label="Language" type="action" action="RunScript(service.xbmc.tts,language_dialog.pico2wave)" />
    <setting visible="eq(-10,pico2wave)" id="speed.pico2wave" label="Speed % (If Available)" type="slider" subsetting="true" option="int" default="100" range="20,200" />

    <!-- SJHtts -->
    <setting visible="eq(-11,ttsd)" id="engine.ttsd" subsetting="true" label="Engine" type="action" action="RunScript(service.xbmc.tts,settings_dialog.ttsd,engine)" />
    <setting visible="eq(-12,ttsd)" id="voice.ttsd" subsetting="true" label="Voice" type="action" action="RunScript(service.xbmc.tts,voice_dialog.ttsd)" />
    <setting visible="eq(-13,ttsd)" id="speed.ttsd" label="Speed" type="slider" subsetting="true" option="int" default="0" range="-10,10" />
    <setting visible="eq(-14,ttsd)" id="player.ttsd" subsetting="true" label="Player" type="action" action="RunScript(service.xbmc.tts,player_dialog.ttsd)" />
    <setting visible="eq(-15,ttsd)" id="host.ttsd" subsetting="true" label="IP Address" type="ipaddress" default="127.0.0.1" />
    <setting visible="eq(-16,ttsd)" id="port.ttsd" subsetting="true" label="Port" type="number" default="8256" />

    <!-- Cepstral -->
    <setting visible="eq(-17,Cepstral)" id="voice.Cepstral" subsetting="true" label="Voice" type="action" action="RunScript(service.xbmc.tts,voice_dialog.Cepstral)" />

    <setting label="Install Keymap" type="action" action="RunScript(service.xbmc.tts,install_keymap)"/>
  </category>
  <category label="Advanced">
    <setting label="Output .wav files to tmpfs" type="bool" id="use_tmpfs" default="true" />
    <setting label="Disable Broken TTS Engines" type="bool" id="disable_broken_backends" default="true" />
    <setting label="Enable Debug Logging" type="bool" id="debug_logging" default="true" />
    <setting label="Override Poll Interval" type="bool" id="override_poll_interval" default="false" />
    <setting label="Poll Interval (ms)" type="slider" id="poll_interval" subsetting="true" option="int" default="100" range="50,1000" enable="eq(-1,true)" />
  </category>
</settings>
